@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Source+Sans+Pro&display=swap');

:root{
  font-size: 14px;
  font-family: 'Oxygen Mono', monospace;
  /* default light theme */
  --main-bg: #ffffff;
  --main-fg: #000000;
  --sec-bg: #272727 ;
  --primary: #EF5F22;
}

:root.dark-mode{
  --main-bg: #000000;
  --main-fg: #ffffff;
  --sec-bg: #272727 ;
  --primary: #EF5F22;
}

.App {
  text-align: center;
  background-color: var(--main-bg);
  color: var(--main-fg);
}

.main-nav{
  display: flex;
  flex-direction: row-reverse;
}

  .main-nav > *{
    margin: 1em 3em 1em 0;
  }

a {
  text-decoration: underline;
  cursor: pointer;
}
